<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="${basedir}/logs/nlog-internal.log">
  <targets>
    <target name="console" xsi:type="Console"  layout="${longdate} ${callsite} ${level} ${message}"/>
    <target name="debug" xsi:type="Debugger"  layout="${longdate} ${callsite} ${level} ${message}"/>
    <target name="error" xsi:type="File" fileName="${basedir}/logs/error/${date:format=yyyyMM}/${shortdate}.error.txt" layout="[${date:format=yyyy\-MM\-dd HH\:mm\:ss}][${lowercase:${level}}]{${callsite}}:${message}"/>
    <target name="info" xsi:type="File" fileName="${basedir}/logs/error/${date:format=yyyyMM}/${shortdate}.info.txt" layout="[${date:format=yyyy\-MM\-dd HH\:mm\:ss}]${message}"/>
    <target name="debugfile" xsi:type="File" fileName="${basedir}/logs/debug/${date:format=yyyyMM}/${shortdate}.debug.txt" layout="[${date:format=yyyy\-MM\-dd HH\:mm\:ss}][${lowercase:${level}}]{${callsite}}:${message}"/>
  </targets>

  <rules>
    <logger name="*" levels="Info" writeTo="info" />
    <logger name="*" levels="Debug" writeTo="debugfile" />
    <logger name="*" levels="Error" writeTo="error" />
  </rules>
</nlog>